<%- include('includes/head.ejs', {
    username: username,
    permisos: permisos,
}) %>

<body>
<section class="section">
<h2 class="title center-text">Tus Gatos</h2> <br>
<div class="columns">

<% for (let gato of gatos) { %>
    <div class="column">
        <div class="card">
            <div class="card-image">
            <figure class="image is-4by3">
                <img src="<%= gato.imagen %>" alt="Imagen de <%= gato.nombre %>">
            </figure>
            </div>
            <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4 center-text"><a href="/misgatos<%= gato.ID %>"><%= gato.Nombre %></a></p>
                </div>
            </div>
            <div class="content center-text">
               NIVEL: <span class="has-text-weight-bold"><%= gato.Nivel %></span> <br>
            </div>
            </div>
        </div>
    </div>
<% } %>

</div>
<% if(ultimo_gato != '') { %>
    <div>El último gato creado fue <%= ultimo_gato %>.</div>
<% } %>

<%- include('includes/footer.ejs') %>

</section>  
</body>